<div>
  <h1>Nuevo Personaje</h1>
  <form #createForm="ngForm">
    <label>NOMBRE:</label>
    <input type="text" class="form-control" name="cajanombre" #cajanombre/>
    <label>IMAGEN:</label>
    <input type="text" class="form-control" name="cajaimagen" #cajaimagen/><br>
    <label>SERIE:</label>
    <select name="selectserie" #selectserie >
      <option *ngFor="let serie of series" value="{{serie.idSerie}}">{{serie.nombre}}</option>
    </select><br>
    <button class="btn btn-success" (click)="insertarPersonaje()">
      Introducir Personaje
    </button>
  </form>
</div>
